.container {
    flex-direction: column;
    gap: 24px;
    background-color: #A7B5CC;
    padding: 24px 16px;
}

.container_with_border {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-bottom: 3px solid #1a1a1a;
    padding-bottom: 24px;
}

.contacts_button {
    font-family: 'PassionOneBold';
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.legal_container {
    margin: auto;
    gap: 10px;
}

.legal_button {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.contacts_button:hover, .legal_button:hover {
    color: #fafafa
}